exportPattern("^[[:alpha:]]+")
## Load in the shared object; this used to be done in zzz.R
useDynLib("meaRtools")
import("ggplot2","lattice","tcltk","emdist")
importFrom("gtools","mixedorder")
importFrom("reshape2","dcast","melt")
importFrom("plyr","llply","ldply","ddply")
importFrom("gridExtra", "tableGrob","arrangeGrob","marrangeGrob")
importFrom("grDevices", "dev.cur", "dev.off", "dev2bitmap", "pdf",
           "png", "postscript", "xy.coords")
importFrom("graphics", "abline", "arrows", "axis", "curve", "hist",
           "legend", "lines", "matlines", "mtext", "par", "plot",
           "plot.default", "plot.new", "points", "segments",
           "stripchart", "symbols", "text", "title")
importFrom("stats", "aggregate", "approxfun", "cor", "dnorm", "embed",
           "filter", "ks.test", "lm", "na.omit", "ppois", "predict",
           "rnorm", "runif", "sd", "time", "ts", "uniroot", "var",
           "wilcox.test","median","IQR","quantile")
importFrom("utils", "read.csv", "tail", "write.csv", "write.table")
importFrom(Rcpp, evalCpp)
S3method(plot, sttcp)
